<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>

    <%= form_with model: @book do |f| %>
      <div class="form-group">
        <label for="book_title">Title</label>
        <input class="form-control" type="text" name="book[title]" id="book_title">
      </div>

      <div class="form-group">
        <label for="book_body">Body</label>
        <textarea class="form-control" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="form-group">
        <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
      </div>
    <% end %>

    <%= link_to "Show", book_path(@book.id) %>  |  <%= link_to "Back", books_path %>
    </div>
  </div>
</div>
